name = "getty-${TTY}"
description = "Getty on ${TTY}"

[service]
command = "/sbin/getty ${TTY}"

[[service.arguments]]
name = "TTY"
description = "The tty to run getty on"
required = true

[[service.arguments]]
name = "Baud"
description = "The baud rate to set on the terminal"
default = "9600"

[[needs]]
name = "udev"