name = "compositor"
description = "Wayland compositor"
start_mode = "notify"

[service]
command = "/sbin/compositor"

[[needs]]
name = "udev-wait-drm"
