name = "udevd"
description = "A udev daemon"

[service]
command = "/sbin/udevd"

[[needs]]
name = "busd"

[[needs]]
name = "depmod"

[[needs]]
name = "udev"
